
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to read and write inventory data
    match /inventory/{document} {
      allow read, write: if request.auth != null;
    }
    
    // Allow authenticated users to read and write suppliers data
    match /suppliers/{document} {
      allow read, write: if request.auth != null;
    }
    
    // Allow authenticated users to read and write users data
    match /users/{document} {
      allow read, write: if request.auth != null;
    }
    
    // Allow authenticated users to read and write sales data
    match /sales/{document} {
      allow read, write: if request.auth != null;
    }
  }
}
